<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Building"/>
<stringAttribute key="TALEND_JOB_ID" value="_ABT3ABW0EeetT6qYlf46cw"/>
<stringAttribute key="TALEND_JOB_NAME" value="D_Term"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
